aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
aiosqlite==0.22.1
anyio==4.13.0
APScheduler==3.11.3
argcomplete==3.6.3
attrs==26.1.0
av==18.0.0
binwalk==2.3.4
blivet @ file:///builddir/build/BUILD/python-blivet-3.13.2-build/blivet-3.13.2
Brlapi==0.8.7
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.4.2
cockpit @ file:///builddir/build/BUILD/cockpit-364-build/cockpit-364/tmp/wheel/cockpit-364-py3-none-any.whl#sha256=82c79404b2528627fced2a7ebf481b040ddae5fe359114bcfa0b986e85b0ed79
crypt_r==3.13.1
ctranslate2==4.8.1
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
distlib==0.4.0
distro==1.9.0
dnf==4.24.0
edge-tts==7.2.8
faster-whisper==1.2.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.15.4
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.6.0
gallery_dl==1.32.7
gTTS==2.5.4
h11==0.16.0
hf-xet==1.5.2
html2text==2025.4.15
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.24.0
idna==3.18
iso639==0.1.4
langtable==0.0.71
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.2.1
louis==3.33.0
multidict==6.7.1
nftables==0.1
numpy==2.5.1
olefile==0.47
onnxruntime==1.27.0
packaging==25.0
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.3.0
pipx==1.15.0
platformdirs==4.9.1
productmd==1.50
propcache==0.5.2
protobuf==7.35.1
psutil==7.2.2
ptyprocess==0.7.0
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycups==2.0.4
pyenchant==3.3.0
PyGObject==3.56.3
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-linux-procfs==0.7.4
python-meh==0.52
python-pam==2.0.2
python-telegram-bot==22.8
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
RapidFuzz==3.14.3
regex==2026.5.9
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
rpm==6.0.1
selinux @ file:///builddir/build/BUILD/libselinux-3.10-build/libselinux-3.10/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.10-build/selinux-3.10/python/sepolicy
setools==4.6.0
setuptools==83.0.0
simpleline==1.9.0
six==1.17.0
sos==4.11.2
systemd-python==235
tabulate==0.10.0
telegram==0.0.1
tokenizers==0.23.1
tqdm==4.69.1
typing_extensions==4.16.0
tzlocal==5.4.4
urllib3==2.7.0
userpath==1.9.2
virtualenv==20.35.4
xkbregistry==0.3
yarl==1.24.5
yt-dlp==2026.7.4
zombie-imp==0.0.4
